@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-open-width: 325px;
    --nav-width: 325px;
    --logo-area-open-width: 285px;
    --logo-area-close-width: 124px;
    --footer-height: 112px;
  }
}
