@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
  }

  h2 {
    @apply text-xl font-bold text-indigo-900;
  }

  h3 {
    @apply pt-4 text-lg font-bold text-indigo-700;
  }

  #textBlock ul {
    @apply list-disc p-5;
  }

  #github-label {
    @apply pt-2 font-bold text-blue-800;
  }

  #github-link {
    @apply font-bold underline;
  }

  :root {
    /* General Paddings */
    --padding-md: 40px;
    --padding-sm: 30px;
    /* Navigation Variables */
    --sidebar-open-width: calc(var(--nav-width) + 7px);
    --nav-width: 325px;
    --logo-area-open-width: calc(var(--sidebar-open-width) - 42px);
    --logo-area-close-width: 124px;
    --logo-area-left-md: 60px;
    --logo-area-left-sm: 50px;
    --logo-area-top-md: 48px;
    --logo-area-top-sm: 40px;
    --logo-area-height: 60px;
    --footer-height: 112px;
  }
}

@layer components {
  .trans-d200 {
    @apply transition-all duration-200 ease-out;
  }
  .trans-d500 {
    @apply transition-all duration-500 ease-out;
  }
  .trans-d700 {
    @apply transition-all duration-700 ease-out;
  }
}

.masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.masonry-item img {
  @apply h-auto w-full;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
